/*css resets*/
body,p{
    margin:unset;
}
/*design*/
h1{
    margin: 0;
    font-size:unset;
    font-weight: unset;
}

img{
    vertical-align: top;
}
.root{
    font-family: 'arial';
}

.wrapper{
    box-shadow: inset 0 0 20px red;
    width:300px;
    margin:60px auto;
    font-size:40px;
}

.cover{
    
}
.contents{
    background-image: url(images/green.png);
    background-repeat: no-repeat;
    background-color: #9C6035;
    color:#E8bc9c;
    padding : 60px 20px 48px;
    border-radius:0 0 30px 30px;
    border-bottom: 10px solid #46260E;
}
.contents h1{
    font-size: 36px;
    color:white;
    font-weight: 700;
    margin-bottom: 10px;
}